@model Shelter.Shared.Cat

<table>
  <tr>
    <td style="font-weight: bold">Are you sure you want to delete @Model.Name </td>
  </tr>
  <tr>
    <td> <a>Yes</a> </td>
    <td> <a>No</a></td>
  </tr>
</table>