@model Shelter.Shared.Cat

<table>
  <tr>
    <td style="font-weight: bold">
      <p>
        Are you sure you want to delete <em>@Model.Name</em> ?
      </p> 
    </td>
  </tr>
  <tr>
    <form asp-controller="Shelter" asp-action="DoDelete">
      <input asp-for="Id" type="hidden">
      <button type="submit">Delete</button>
    </form>
  </tr>


</table>