@model Shelter.Shared.Cat

<table>
  <tr>
    <td style="font-weight: bold">Name</td>
    <td>@Model.Name</td>
  </tr>
  <tr>
    <td style="font-weight: bold">Type</td>
    <td>@Model.Name</td>
  </tr>
</table>