@model Shelter.Shared.Cat

<table>
  <tr>
    <td style="font-weight: bold">Name </td>
    <td>@Model.Name</td>
  </tr>
  <tr>
    <td style="font-weight: bold">Born on </td>
    <td>@Model.DateOfBirth</td>
  </tr>
  <tr>
    <td style="font-weight: bold">Arrived on </td>
    <td>@Model.DateOfArrival</td>
  </tr>
</table>