@model Shelter.Shared.Cat
<!-- put thingies in form -->
<form>
    <input type="text" value=@Model.Name>

    <table>
    <tr>
        <td style="font-weight: bold">Are you sure you want to update @Model.Name </td>
    </tr>
    <tr>
        <!-- make yes update name -->
        <td> <a asp-controller="Shelter" asp-action="Overview">Yes</a> </td>
        <td> <a asp-controller="Shelter" asp-action="Overview">No</a></td>
    </tr>
    </table>
</form>
