@model Shelter.Shared.Cat
<form asp-action="DoEdit" asp-controller="Shelter" method="post">

    <table>
    <tr>
        <td><input name="name" type="text" value=@Model.Name></td>
    </tr>
    <tr>
        <td style="font-weight: bold">Are you sure you want to update @Model.Name </td>
        <input asp-for="Id" type="hidden">
    </tr>
    <tr>
        <td>
      <button type="submit">edit</button></td>
        <td> <a asp-controller="Shelter" asp-action="Overview">No</a></td>
    </tr>
    </table>
</form>


