@model ListViewModel

<p>Hello</p>
<ul>
    @foreach (var item in Model.cats)
    {
        <li><a asp-controller="Shelter" asp-action="Details" asp-route-id=@item.Id>@item.Name</a> <a asp-controller="Shelter" asp-action="Delete" asp-route-id=@item.Id>Delete</a> <a asp-controller="Shelter" asp-action="Edit" asp-route-id=@item.Id>Edit</a> </li>
    }
</ul>